@media (min-width: 768px) {
    body {
        background-image: linear-gradient(to bottom, var(--Roxo), #4C9099);
    }
    main section {
        width: 80vw;
        height: 300px;
        flex-direction: row;
        border-radius: 20px;
    }
    section div#imagem {
        width: 300px;
        height: 300px;
        border-radius: 20px 0 0 20px;
    }
    section div#formulario h1 {
        margin-top: 10px;
    }
    section div#formulario p {
        margin: 5px 7px 1px 7px;
    }
}

@media (min-width: 990px) {
    main section {
        width: 90vw;
        height: 400px;
        flex-direction: row-reverse;
    }
    section div#imagem {
        width: 50%;
        height: 400px;
        border-radius: 0 20px 20px 0;
    }
    section div#formulario {
        padding: 20px;
        width: 50%;
    }
    section div#formulario h1 {
        font-size: 2em;
    }
    section div#formulario p {
        font-size: 1.1em;
    }
}